#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}
button {
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    background-color: white;
    border: 5px solid black;
}

#buttonDiv{
    display: flex;
    justify-content: center;
    gap: 10px;
}